.pet-care-container {
  background: linear-gradient(to bottom, #ff9f9f, #ffedbf 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% 뷰포트 높이 */
}

/* .pet-image.egg {
  background-image: url("../../public/images/egg.png");
}

.pet-image.baby {
  background-image: url("../../public/images/baby1.png");
}

.pet-image.teen {
  background-image: url("../../public/images/teen1.png");
}

.pet-image.young-adult {
  background-image: url("../../public/images/young_adult1.png");
}

.pet-image.adult {
  background-image: url("../../public/images/adult1.png");
}

.pet-image.final {
  background-image: url("../../public/images/final1.png");
} */
