@keyframes speechBubbleFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:where(.css-dev-only-do-not-override-1vld52i).ant-card .ant-card-body {
    padding: 0;
}