.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'NPSfontBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NPSfontBold' !important;
}

.font-apply{
  font-family: 'NPSfontBold' !important;
}

/* 스크롤바 전체 스타일 */
::-webkit-scrollbar {
  width: 7px; /* 스크롤바의 너비 */
  overflow-x: hidden;
}

#sider::-webkit-scrollbar {
  display: none;
}

/* 스크롤바 트랙 (바탕) 스타일 */
::-webkit-scrollbar-track {
  background: #eceff1; /* 트랙의 배경 색상 */
}

/* 스크롤바 핸들 (움직이는 부분) 스타일 */
::-webkit-scrollbar-thumb {
  background: #cfd8dc; /* 핸들의 배경 색상 */

  border-radius: 20px 20px 20px 20px;
}