.ant-picker-calendar-mode-switch {
  display: none;
  width: 100;
}

.css-dev-only-do-not-override-1qhpsh8 .ant-card .ant-card-body{
  padding: 10;
}

.ant-picker-cell-selected .ant-picker-calendar-date-value{
  color: rgb(255, 159, 159) !important;
  font-weight: 800;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
  height: 60px !important;
  padding: 2px !important;
}

.ant-picker-date-panel{
  background-color: rgba(255, 111, 111, 0.0) !important; 
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-calendar-date, .ant-picker-calendar.ant-picker-calendar-full .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-calendar-date-today{
  background-color: rgba(255, 131, 131, 0.0) !important;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel{
  background-color: rgba(255, 255, 255, 0.0) !important;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-today{
  border-color :  rgb(255, 159, 159) !important;
  border-width: 5px !important;
}
